/**
 * google-material-color v1.2.6 * https://github.com/danlevan/google-material-color 
 */
.mat-red-bg {background-color: #f44336;}
.mat-red-text {color: #f44336;}
.mat-red-50-bg {background-color: #ffebee;}
.mat-red-50-text {color: #ffebee;}
.mat-red-100-bg {background-color: #ffcdd2;}
.mat-red-100-text {color: #ffcdd2;}
.mat-red-200-bg {background-color: #ef9a9a;}
.mat-red-200-text {color: #ef9a9a;}
.mat-red-300-bg {background-color: #e57373;}
.mat-red-300-text {color: #e57373;}
.mat-red-400-bg {background-color: #ef5350;}
.mat-red-400-text {color: #ef5350;}
.mat-red-500-bg {background-color: #f44336;}
.mat-red-500-text {color: #f44336;}
.mat-red-600-bg {background-color: #e53935;}
.mat-red-600-text {color: #e53935;}
.mat-red-700-bg {background-color: #d32f2f;}
.mat-red-700-text {color: #d32f2f;}
.mat-red-800-bg {background-color: #c62828;}
.mat-red-800-text {color: #c62828;}
.mat-red-900-bg {background-color: #b71c1c;}
.mat-red-900-text {color: #b71c1c;}
.mat-red-a100-bg {background-color: #ff8a80;}
.mat-red-a100-text {color: #ff8a80;}
.mat-red-a200-bg {background-color: #ff5252;}
.mat-red-a200-text {color: #ff5252;}
.mat-red-a400-bg {background-color: #ff1744;}
.mat-red-a400-text {color: #ff1744;}
.mat-red-a700-bg {background-color: #d50000;}
.mat-red-a700-text {color: #d50000;}
.mat-pink-bg {background-color: #e91e63;}
.mat-pink-text {color: #e91e63;}
.mat-pink-50-bg {background-color: #fce4ec;}
.mat-pink-50-text {color: #fce4ec;}
.mat-pink-100-bg {background-color: #f8bbd0;}
.mat-pink-100-text {color: #f8bbd0;}
.mat-pink-200-bg {background-color: #f48fb1;}
.mat-pink-200-text {color: #f48fb1;}
.mat-pink-300-bg {background-color: #f06292;}
.mat-pink-300-text {color: #f06292;}
.mat-pink-400-bg {background-color: #ec407a;}
.mat-pink-400-text {color: #ec407a;}
.mat-pink-500-bg {background-color: #e91e63;}
.mat-pink-500-text {color: #e91e63;}
.mat-pink-600-bg {background-color: #d81b60;}
.mat-pink-600-text {color: #d81b60;}
.mat-pink-700-bg {background-color: #c2185b;}
.mat-pink-700-text {color: #c2185b;}
.mat-pink-800-bg {background-color: #ad1457;}
.mat-pink-800-text {color: #ad1457;}
.mat-pink-900-bg {background-color: #880e4f;}
.mat-pink-900-text {color: #880e4f;}
.mat-pink-a100-bg {background-color: #ff80ab;}
.mat-pink-a100-text {color: #ff80ab;}
.mat-pink-a200-bg {background-color: #ff4081;}
.mat-pink-a200-text {color: #ff4081;}
.mat-pink-a400-bg {background-color: #f50057;}
.mat-pink-a400-text {color: #f50057;}
.mat-pink-a700-bg {background-color: #c51162;}
.mat-pink-a700-text {color: #c51162;}
.mat-purple-bg {background-color: #9c27b0;}
.mat-purple-text {color: #9c27b0;}
.mat-purple-50-bg {background-color: #f3e5f5;}
.mat-purple-50-text {color: #f3e5f5;}
.mat-purple-100-bg {background-color: #e1bee7;}
.mat-purple-100-text {color: #e1bee7;}
.mat-purple-200-bg {background-color: #ce93d8;}
.mat-purple-200-text {color: #ce93d8;}
.mat-purple-300-bg {background-color: #ba68c8;}
.mat-purple-300-text {color: #ba68c8;}
.mat-purple-400-bg {background-color: #ab47bc;}
.mat-purple-400-text {color: #ab47bc;}
.mat-purple-500-bg {background-color: #9c27b0;}
.mat-purple-500-text {color: #9c27b0;}
.mat-purple-600-bg {background-color: #8e24aa;}
.mat-purple-600-text {color: #8e24aa;}
.mat-purple-700-bg {background-color: #7b1fa2;}
.mat-purple-700-text {color: #7b1fa2;}
.mat-purple-800-bg {background-color: #6a1b9a;}
.mat-purple-800-text {color: #6a1b9a;}
.mat-purple-900-bg {background-color: #4a148c;}
.mat-purple-900-text {color: #4a148c;}
.mat-purple-a100-bg {background-color: #ea80fc;}
.mat-purple-a100-text {color: #ea80fc;}
.mat-purple-a200-bg {background-color: #e040fb;}
.mat-purple-a200-text {color: #e040fb;}
.mat-purple-a400-bg {background-color: #d500f9;}
.mat-purple-a400-text {color: #d500f9;}
.mat-purple-a700-bg {background-color: #aa00ff;}
.mat-purple-a700-text {color: #aa00ff;}
.mat-deep-purple-bg {background-color: #673ab7;}
.mat-deep-purple-text {color: #673ab7;}
.mat-deep-purple-50-bg {background-color: #ede7f6;}
.mat-deep-purple-50-text {color: #ede7f6;}
.mat-deep-purple-100-bg {background-color: #d1c4e9;}
.mat-deep-purple-100-text {color: #d1c4e9;}
.mat-deep-purple-200-bg {background-color: #b39ddb;}
.mat-deep-purple-200-text {color: #b39ddb;}
.mat-deep-purple-300-bg {background-color: #9575cd;}
.mat-deep-purple-300-text {color: #9575cd;}
.mat-deep-purple-400-bg {background-color: #7e57c2;}
.mat-deep-purple-400-text {color: #7e57c2;}
.mat-deep-purple-500-bg {background-color: #673ab7;}
.mat-deep-purple-500-text {color: #673ab7;}
.mat-deep-purple-600-bg {background-color: #5e35b1;}
.mat-deep-purple-600-text {color: #5e35b1;}
.mat-deep-purple-700-bg {background-color: #512da8;}
.mat-deep-purple-700-text {color: #512da8;}
.mat-deep-purple-800-bg {background-color: #4527a0;}
.mat-deep-purple-800-text {color: #4527a0;}
.mat-deep-purple-900-bg {background-color: #311b92;}
.mat-deep-purple-900-text {color: #311b92;}
.mat-deep-purple-a100-bg {background-color: #b388ff;}
.mat-deep-purple-a100-text {color: #b388ff;}
.mat-deep-purple-a200-bg {background-color: #7c4dff;}
.mat-deep-purple-a200-text {color: #7c4dff;}
.mat-deep-purple-a400-bg {background-color: #651fff;}
.mat-deep-purple-a400-text {color: #651fff;}
.mat-deep-purple-a700-bg {background-color: #6200ea;}
.mat-deep-purple-a700-text {color: #6200ea;}
.mat-indigo-bg {background-color: #3f51b5;}
.mat-indigo-text {color: #3f51b5;}
.mat-indigo-50-bg {background-color: #e8eaf6;}
.mat-indigo-50-text {color: #e8eaf6;}
.mat-indigo-100-bg {background-color: #c5cae9;}
.mat-indigo-100-text {color: #c5cae9;}
.mat-indigo-200-bg {background-color: #9fa8da;}
.mat-indigo-200-text {color: #9fa8da;}
.mat-indigo-300-bg {background-color: #7986cb;}
.mat-indigo-300-text {color: #7986cb;}
.mat-indigo-400-bg {background-color: #5c6bc0;}
.mat-indigo-400-text {color: #5c6bc0;}
.mat-indigo-500-bg {background-color: #3f51b5;}
.mat-indigo-500-text {color: #3f51b5;}
.mat-indigo-600-bg {background-color: #3949ab;}
.mat-indigo-600-text {color: #3949ab;}
.mat-indigo-700-bg {background-color: #303f9f;}
.mat-indigo-700-text {color: #303f9f;}
.mat-indigo-800-bg {background-color: #283593;}
.mat-indigo-800-text {color: #283593;}
.mat-indigo-900-bg {background-color: #1a237e;}
.mat-indigo-900-text {color: #1a237e;}
.mat-indigo-a100-bg {background-color: #8c9eff;}
.mat-indigo-a100-text {color: #8c9eff;}
.mat-indigo-a200-bg {background-color: #536dfe;}
.mat-indigo-a200-text {color: #536dfe;}
.mat-indigo-a400-bg {background-color: #3d5afe;}
.mat-indigo-a400-text {color: #3d5afe;}
.mat-indigo-a700-bg {background-color: #304ffe;}
.mat-indigo-a700-text {color: #304ffe;}
.mat-blue-bg {background-color: #2196f3;}
.mat-blue-text {color: #2196f3;}
.mat-blue-50-bg {background-color: #e3f2fd;}
.mat-blue-50-text {color: #e3f2fd;}
.mat-blue-100-bg {background-color: #bbdefb;}
.mat-blue-100-text {color: #bbdefb;}
.mat-blue-200-bg {background-color: #90caf9;}
.mat-blue-200-text {color: #90caf9;}
.mat-blue-300-bg {background-color: #64b5f6;}
.mat-blue-300-text {color: #64b5f6;}
.mat-blue-400-bg {background-color: #42a5f5;}
.mat-blue-400-text {color: #42a5f5;}
.mat-blue-500-bg {background-color: #2196f3;}
.mat-blue-500-text {color: #2196f3;}
.mat-blue-600-bg {background-color: #1e88e5;}
.mat-blue-600-text {color: #1e88e5;}
.mat-blue-700-bg {background-color: #1976d2;}
.mat-blue-700-text {color: #1976d2;}
.mat-blue-800-bg {background-color: #1565c0;}
.mat-blue-800-text {color: #1565c0;}
.mat-blue-900-bg {background-color: #0d47a1;}
.mat-blue-900-text {color: #0d47a1;}
.mat-blue-a100-bg {background-color: #82b1ff;}
.mat-blue-a100-text {color: #82b1ff;}
.mat-blue-a200-bg {background-color: #448aff;}
.mat-blue-a200-text {color: #448aff;}
.mat-blue-a400-bg {background-color: #2979ff;}
.mat-blue-a400-text {color: #2979ff;}
.mat-blue-a700-bg {background-color: #2962ff;}
.mat-blue-a700-text {color: #2962ff;}
.mat-light-blue-bg {background-color: #03a9f4;}
.mat-light-blue-text {color: #03a9f4;}
.mat-light-blue-50-bg {background-color: #e1f5fe;}
.mat-light-blue-50-text {color: #e1f5fe;}
.mat-light-blue-100-bg {background-color: #b3e5fc;}
.mat-light-blue-100-text {color: #b3e5fc;}
.mat-light-blue-200-bg {background-color: #81d4fa;}
.mat-light-blue-200-text {color: #81d4fa;}
.mat-light-blue-300-bg {background-color: #4fc3f7;}
.mat-light-blue-300-text {color: #4fc3f7;}
.mat-light-blue-400-bg {background-color: #29b6f6;}
.mat-light-blue-400-text {color: #29b6f6;}
.mat-light-blue-500-bg {background-color: #03a9f4;}
.mat-light-blue-500-text {color: #03a9f4;}
.mat-light-blue-600-bg {background-color: #039be5;}
.mat-light-blue-600-text {color: #039be5;}
.mat-light-blue-700-bg {background-color: #0288d1;}
.mat-light-blue-700-text {color: #0288d1;}
.mat-light-blue-800-bg {background-color: #0277bd;}
.mat-light-blue-800-text {color: #0277bd;}
.mat-light-blue-900-bg {background-color: #01579b;}
.mat-light-blue-900-text {color: #01579b;}
.mat-light-blue-a100-bg {background-color: #80d8ff;}
.mat-light-blue-a100-text {color: #80d8ff;}
.mat-light-blue-a200-bg {background-color: #40c4ff;}
.mat-light-blue-a200-text {color: #40c4ff;}
.mat-light-blue-a400-bg {background-color: #00b0ff;}
.mat-light-blue-a400-text {color: #00b0ff;}
.mat-light-blue-a700-bg {background-color: #0091ea;}
.mat-light-blue-a700-text {color: #0091ea;}
.mat-cyan-bg {background-color: #00bcd4;}
.mat-cyan-text {color: #00bcd4;}
.mat-cyan-50-bg {background-color: #e0f7fa;}
.mat-cyan-50-text {color: #e0f7fa;}
.mat-cyan-100-bg {background-color: #b2ebf2;}
.mat-cyan-100-text {color: #b2ebf2;}
.mat-cyan-200-bg {background-color: #80deea;}
.mat-cyan-200-text {color: #80deea;}
.mat-cyan-300-bg {background-color: #4dd0e1;}
.mat-cyan-300-text {color: #4dd0e1;}
.mat-cyan-400-bg {background-color: #26c6da;}
.mat-cyan-400-text {color: #26c6da;}
.mat-cyan-500-bg {background-color: #00bcd4;}
.mat-cyan-500-text {color: #00bcd4;}
.mat-cyan-600-bg {background-color: #00acc1;}
.mat-cyan-600-text {color: #00acc1;}
.mat-cyan-700-bg {background-color: #0097a7;}
.mat-cyan-700-text {color: #0097a7;}
.mat-cyan-800-bg {background-color: #00838f;}
.mat-cyan-800-text {color: #00838f;}
.mat-cyan-900-bg {background-color: #006064;}
.mat-cyan-900-text {color: #006064;}
.mat-cyan-a100-bg {background-color: #84ffff;}
.mat-cyan-a100-text {color: #84ffff;}
.mat-cyan-a200-bg {background-color: #18ffff;}
.mat-cyan-a200-text {color: #18ffff;}
.mat-cyan-a400-bg {background-color: #00e5ff;}
.mat-cyan-a400-text {color: #00e5ff;}
.mat-cyan-a700-bg {background-color: #00b8d4;}
.mat-cyan-a700-text {color: #00b8d4;}
.mat-teal-bg {background-color: #009688;}
.mat-teal-text {color: #009688;}
.mat-teal-50-bg {background-color: #e0f2f1;}
.mat-teal-50-text {color: #e0f2f1;}
.mat-teal-100-bg {background-color: #b2dfdb;}
.mat-teal-100-text {color: #b2dfdb;}
.mat-teal-200-bg {background-color: #80cbc4;}
.mat-teal-200-text {color: #80cbc4;}
.mat-teal-300-bg {background-color: #4db6ac;}
.mat-teal-300-text {color: #4db6ac;}
.mat-teal-400-bg {background-color: #26a69a;}
.mat-teal-400-text {color: #26a69a;}
.mat-teal-500-bg {background-color: #009688;}
.mat-teal-500-text {color: #009688;}
.mat-teal-600-bg {background-color: #00897b;}
.mat-teal-600-text {color: #00897b;}
.mat-teal-700-bg {background-color: #00796b;}
.mat-teal-700-text {color: #00796b;}
.mat-teal-800-bg {background-color: #00695c;}
.mat-teal-800-text {color: #00695c;}
.mat-teal-900-bg {background-color: #004d40;}
.mat-teal-900-text {color: #004d40;}
.mat-teal-a100-bg {background-color: #a7ffeb;}
.mat-teal-a100-text {color: #a7ffeb;}
.mat-teal-a200-bg {background-color: #64ffda;}
.mat-teal-a200-text {color: #64ffda;}
.mat-teal-a400-bg {background-color: #1de9b6;}
.mat-teal-a400-text {color: #1de9b6;}
.mat-teal-a700-bg {background-color: #00bfa5;}
.mat-teal-a700-text {color: #00bfa5;}
.mat-green-bg {background-color: #4caf50;}
.mat-green-text {color: #4caf50;}
.mat-green-50-bg {background-color: #e8f5e9;}
.mat-green-50-text {color: #e8f5e9;}
.mat-green-100-bg {background-color: #c8e6c9;}
.mat-green-100-text {color: #c8e6c9;}
.mat-green-200-bg {background-color: #a5d6a7;}
.mat-green-200-text {color: #a5d6a7;}
.mat-green-300-bg {background-color: #81c784;}
.mat-green-300-text {color: #81c784;}
.mat-green-400-bg {background-color: #66bb6a;}
.mat-green-400-text {color: #66bb6a;}
.mat-green-500-bg {background-color: #4caf50;}
.mat-green-500-text {color: #4caf50;}
.mat-green-600-bg {background-color: #43a047;}
.mat-green-600-text {color: #43a047;}
.mat-green-700-bg {background-color: #388e3c;}
.mat-green-700-text {color: #388e3c;}
.mat-green-800-bg {background-color: #2e7d32;}
.mat-green-800-text {color: #2e7d32;}
.mat-green-900-bg {background-color: #1b5e20;}
.mat-green-900-text {color: #1b5e20;}
.mat-green-a100-bg {background-color: #b9f6ca;}
.mat-green-a100-text {color: #b9f6ca;}
.mat-green-a200-bg {background-color: #69f0ae;}
.mat-green-a200-text {color: #69f0ae;}
.mat-green-a400-bg {background-color: #00e676;}
.mat-green-a400-text {color: #00e676;}
.mat-green-a700-bg {background-color: #00c853;}
.mat-green-a700-text {color: #00c853;}
.mat-light-green-bg {background-color: #8bc34a;}
.mat-light-green-text {color: #8bc34a;}
.mat-light-green-50-bg {background-color: #f1f8e9;}
.mat-light-green-50-text {color: #f1f8e9;}
.mat-light-green-100-bg {background-color: #dcedc8;}
.mat-light-green-100-text {color: #dcedc8;}
.mat-light-green-200-bg {background-color: #c5e1a5;}
.mat-light-green-200-text {color: #c5e1a5;}
.mat-light-green-300-bg {background-color: #aed581;}
.mat-light-green-300-text {color: #aed581;}
.mat-light-green-400-bg {background-color: #9ccc65;}
.mat-light-green-400-text {color: #9ccc65;}
.mat-light-green-500-bg {background-color: #8bc34a;}
.mat-light-green-500-text {color: #8bc34a;}
.mat-light-green-600-bg {background-color: #7cb342;}
.mat-light-green-600-text {color: #7cb342;}
.mat-light-green-700-bg {background-color: #689f38;}
.mat-light-green-700-text {color: #689f38;}
.mat-light-green-800-bg {background-color: #558b2f;}
.mat-light-green-800-text {color: #558b2f;}
.mat-light-green-900-bg {background-color: #33691e;}
.mat-light-green-900-text {color: #33691e;}
.mat-light-green-a100-bg {background-color: #ccff90;}
.mat-light-green-a100-text {color: #ccff90;}
.mat-light-green-a200-bg {background-color: #b2ff59;}
.mat-light-green-a200-text {color: #b2ff59;}
.mat-light-green-a400-bg {background-color: #76ff03;}
.mat-light-green-a400-text {color: #76ff03;}
.mat-light-green-a700-bg {background-color: #64dd17;}
.mat-light-green-a700-text {color: #64dd17;}
.mat-lime-bg {background-color: #cddc39;}
.mat-lime-text {color: #cddc39;}
.mat-lime-50-bg {background-color: #f9fbe7;}
.mat-lime-50-text {color: #f9fbe7;}
.mat-lime-100-bg {background-color: #f0f4c3;}
.mat-lime-100-text {color: #f0f4c3;}
.mat-lime-200-bg {background-color: #e6ee9c;}
.mat-lime-200-text {color: #e6ee9c;}
.mat-lime-300-bg {background-color: #dce775;}
.mat-lime-300-text {color: #dce775;}
.mat-lime-400-bg {background-color: #d4e157;}
.mat-lime-400-text {color: #d4e157;}
.mat-lime-500-bg {background-color: #cddc39;}
.mat-lime-500-text {color: #cddc39;}
.mat-lime-600-bg {background-color: #c0ca33;}
.mat-lime-600-text {color: #c0ca33;}
.mat-lime-700-bg {background-color: #afb42b;}
.mat-lime-700-text {color: #afb42b;}
.mat-lime-800-bg {background-color: #9e9d24;}
.mat-lime-800-text {color: #9e9d24;}
.mat-lime-900-bg {background-color: #827717;}
.mat-lime-900-text {color: #827717;}
.mat-lime-a100-bg {background-color: #f4ff81;}
.mat-lime-a100-text {color: #f4ff81;}
.mat-lime-a200-bg {background-color: #eeff41;}
.mat-lime-a200-text {color: #eeff41;}
.mat-lime-a400-bg {background-color: #c6ff00;}
.mat-lime-a400-text {color: #c6ff00;}
.mat-lime-a700-bg {background-color: #aeea00;}
.mat-lime-a700-text {color: #aeea00;}
.mat-yellow-bg {background-color: #ffeb3b;}
.mat-yellow-text {color: #ffeb3b;}
.mat-yellow-50-bg {background-color: #fffde7;}
.mat-yellow-50-text {color: #fffde7;}
.mat-yellow-100-bg {background-color: #fff9c4;}
.mat-yellow-100-text {color: #fff9c4;}
.mat-yellow-200-bg {background-color: #fff59d;}
.mat-yellow-200-text {color: #fff59d;}
.mat-yellow-300-bg {background-color: #fff176;}
.mat-yellow-300-text {color: #fff176;}
.mat-yellow-400-bg {background-color: #ffee58;}
.mat-yellow-400-text {color: #ffee58;}
.mat-yellow-500-bg {background-color: #ffeb3b;}
.mat-yellow-500-text {color: #ffeb3b;}
.mat-yellow-600-bg {background-color: #fdd835;}
.mat-yellow-600-text {color: #fdd835;}
.mat-yellow-700-bg {background-color: #fbc02d;}
.mat-yellow-700-text {color: #fbc02d;}
.mat-yellow-800-bg {background-color: #f9a825;}
.mat-yellow-800-text {color: #f9a825;}
.mat-yellow-900-bg {background-color: #f57f17;}
.mat-yellow-900-text {color: #f57f17;}
.mat-yellow-a100-bg {background-color: #ffff8d;}
.mat-yellow-a100-text {color: #ffff8d;}
.mat-yellow-a200-bg {background-color: #ffff00;}
.mat-yellow-a200-text {color: #ffff00;}
.mat-yellow-a400-bg {background-color: #ffea00;}
.mat-yellow-a400-text {color: #ffea00;}
.mat-yellow-a700-bg {background-color: #ffd600;}
.mat-yellow-a700-text {color: #ffd600;}
.mat-amber-bg {background-color: #ffc107;}
.mat-amber-text {color: #ffc107;}
.mat-amber-50-bg {background-color: #fff8e1;}
.mat-amber-50-text {color: #fff8e1;}
.mat-amber-100-bg {background-color: #ffecb3;}
.mat-amber-100-text {color: #ffecb3;}
.mat-amber-200-bg {background-color: #ffe082;}
.mat-amber-200-text {color: #ffe082;}
.mat-amber-300-bg {background-color: #ffd54f;}
.mat-amber-300-text {color: #ffd54f;}
.mat-amber-400-bg {background-color: #ffca28;}
.mat-amber-400-text {color: #ffca28;}
.mat-amber-500-bg {background-color: #ffc107;}
.mat-amber-500-text {color: #ffc107;}
.mat-amber-600-bg {background-color: #ffb300;}
.mat-amber-600-text {color: #ffb300;}
.mat-amber-700-bg {background-color: #ffa000;}
.mat-amber-700-text {color: #ffa000;}
.mat-amber-800-bg {background-color: #ff8f00;}
.mat-amber-800-text {color: #ff8f00;}
.mat-amber-900-bg {background-color: #ff6f00;}
.mat-amber-900-text {color: #ff6f00;}
.mat-amber-a100-bg {background-color: #ffe57f;}
.mat-amber-a100-text {color: #ffe57f;}
.mat-amber-a200-bg {background-color: #ffd740;}
.mat-amber-a200-text {color: #ffd740;}
.mat-amber-a400-bg {background-color: #ffc400;}
.mat-amber-a400-text {color: #ffc400;}
.mat-amber-a700-bg {background-color: #ffab00;}
.mat-amber-a700-text {color: #ffab00;}
.mat-orange-bg {background-color: #ff9800;}
.mat-orange-text {color: #ff9800;}
.mat-orange-50-bg {background-color: #fff3e0;}
.mat-orange-50-text {color: #fff3e0;}
.mat-orange-100-bg {background-color: #ffe0b2;}
.mat-orange-100-text {color: #ffe0b2;}
.mat-orange-200-bg {background-color: #ffcc80;}
.mat-orange-200-text {color: #ffcc80;}
.mat-orange-300-bg {background-color: #ffb74d;}
.mat-orange-300-text {color: #ffb74d;}
.mat-orange-400-bg {background-color: #ffa726;}
.mat-orange-400-text {color: #ffa726;}
.mat-orange-500-bg {background-color: #ff9800;}
.mat-orange-500-text {color: #ff9800;}
.mat-orange-600-bg {background-color: #fb8c00;}
.mat-orange-600-text {color: #fb8c00;}
.mat-orange-700-bg {background-color: #f57c00;}
.mat-orange-700-text {color: #f57c00;}
.mat-orange-800-bg {background-color: #ef6c00;}
.mat-orange-800-text {color: #ef6c00;}
.mat-orange-900-bg {background-color: #e65100;}
.mat-orange-900-text {color: #e65100;}
.mat-orange-a100-bg {background-color: #ffd180;}
.mat-orange-a100-text {color: #ffd180;}
.mat-orange-a200-bg {background-color: #ffab40;}
.mat-orange-a200-text {color: #ffab40;}
.mat-orange-a400-bg {background-color: #ff9100;}
.mat-orange-a400-text {color: #ff9100;}
.mat-orange-a700-bg {background-color: #ff6d00;}
.mat-orange-a700-text {color: #ff6d00;}
.mat-deep-orange-bg {background-color: #ff5722;}
.mat-deep-orange-text {color: #ff5722;}
.mat-deep-orange-50-bg {background-color: #fbe9e7;}
.mat-deep-orange-50-text {color: #fbe9e7;}
.mat-deep-orange-100-bg {background-color: #ffccbc;}
.mat-deep-orange-100-text {color: #ffccbc;}
.mat-deep-orange-200-bg {background-color: #ffab91;}
.mat-deep-orange-200-text {color: #ffab91;}
.mat-deep-orange-300-bg {background-color: #ff8a65;}
.mat-deep-orange-300-text {color: #ff8a65;}
.mat-deep-orange-400-bg {background-color: #ff7043;}
.mat-deep-orange-400-text {color: #ff7043;}
.mat-deep-orange-500-bg {background-color: #ff5722;}
.mat-deep-orange-500-text {color: #ff5722;}
.mat-deep-orange-600-bg {background-color: #f4511e;}
.mat-deep-orange-600-text {color: #f4511e;}
.mat-deep-orange-700-bg {background-color: #e64a19;}
.mat-deep-orange-700-text {color: #e64a19;}
.mat-deep-orange-800-bg {background-color: #d84315;}
.mat-deep-orange-800-text {color: #d84315;}
.mat-deep-orange-900-bg {background-color: #bf360c;}
.mat-deep-orange-900-text {color: #bf360c;}
.mat-deep-orange-a100-bg {background-color: #ff9e80;}
.mat-deep-orange-a100-text {color: #ff9e80;}
.mat-deep-orange-a200-bg {background-color: #ff6e40;}
.mat-deep-orange-a200-text {color: #ff6e40;}
.mat-deep-orange-a400-bg {background-color: #ff3d00;}
.mat-deep-orange-a400-text {color: #ff3d00;}
.mat-deep-orange-a700-bg {background-color: #dd2c00;}
.mat-deep-orange-a700-text {color: #dd2c00;}
.mat-brown-bg {background-color: #795548;}
.mat-brown-text {color: #795548;}
.mat-brown-50-bg {background-color: #efebe9;}
.mat-brown-50-text {color: #efebe9;}
.mat-brown-100-bg {background-color: #d7ccc8;}
.mat-brown-100-text {color: #d7ccc8;}
.mat-brown-200-bg {background-color: #bcaaa4;}
.mat-brown-200-text {color: #bcaaa4;}
.mat-brown-300-bg {background-color: #a1887f;}
.mat-brown-300-text {color: #a1887f;}
.mat-brown-400-bg {background-color: #8d6e63;}
.mat-brown-400-text {color: #8d6e63;}
.mat-brown-500-bg {background-color: #795548;}
.mat-brown-500-text {color: #795548;}
.mat-brown-600-bg {background-color: #6d4c41;}
.mat-brown-600-text {color: #6d4c41;}
.mat-brown-700-bg {background-color: #5d4037;}
.mat-brown-700-text {color: #5d4037;}
.mat-brown-800-bg {background-color: #4e342e;}
.mat-brown-800-text {color: #4e342e;}
.mat-brown-900-bg {background-color: #3e2723;}
.mat-brown-900-text {color: #3e2723;}
.mat-grey-bg {background-color: #9e9e9e;}
.mat-grey-text {color: #9e9e9e;}
.mat-grey-50-bg {background-color: #fafafa;}
.mat-grey-50-text {color: #fafafa;}
.mat-grey-100-bg {background-color: #f5f5f5;}
.mat-grey-100-text {color: #f5f5f5;}
.mat-grey-200-bg {background-color: #eeeeee;}
.mat-grey-200-text {color: #eeeeee;}
.mat-grey-300-bg {background-color: #e0e0e0;}
.mat-grey-300-text {color: #e0e0e0;}
.mat-grey-400-bg {background-color: #bdbdbd;}
.mat-grey-400-text {color: #bdbdbd;}
.mat-grey-500-bg {background-color: #9e9e9e;}
.mat-grey-500-text {color: #9e9e9e;}
.mat-grey-600-bg {background-color: #757575;}
.mat-grey-600-text {color: #757575;}
.mat-grey-700-bg {background-color: #616161;}
.mat-grey-700-text {color: #616161;}
.mat-grey-800-bg {background-color: #424242;}
.mat-grey-800-text {color: #424242;}
.mat-grey-900-bg {background-color: #212121;}
.mat-grey-900-text {color: #212121;}
.mat-blue-grey-bg {background-color: #607d8b;}
.mat-blue-grey-text {color: #607d8b;}
.mat-blue-grey-50-bg {background-color: #eceff1;}
.mat-blue-grey-50-text {color: #eceff1;}
.mat-blue-grey-100-bg {background-color: #cfd8dc;}
.mat-blue-grey-100-text {color: #cfd8dc;}
.mat-blue-grey-200-bg {background-color: #b0bec5;}
.mat-blue-grey-200-text {color: #b0bec5;}
.mat-blue-grey-300-bg {background-color: #90a4ae;}
.mat-blue-grey-300-text {color: #90a4ae;}
.mat-blue-grey-400-bg {background-color: #78909c;}
.mat-blue-grey-400-text {color: #78909c;}
.mat-blue-grey-500-bg {background-color: #607d8b;}
.mat-blue-grey-500-text {color: #607d8b;}
.mat-blue-grey-600-bg {background-color: #546e7a;}
.mat-blue-grey-600-text {color: #546e7a;}
.mat-blue-grey-700-bg {background-color: #455a64;}
.mat-blue-grey-700-text {color: #455a64;}
.mat-blue-grey-800-bg {background-color: #37474f;}
.mat-blue-grey-800-text {color: #37474f;}
.mat-blue-grey-900-bg {background-color: #263238;}
.mat-blue-grey-900-text {color: #263238;}
.mat-black-bg {background-color: #000000;}
.mat-black-text {color: #000000;}
.mat-black-500-bg {background-color: #000000;}
.mat-black-500-text {color: #000000;}
.mat-black-text-bg {background-color: rgba(0,0,0,0.87);}
.mat-black-text-text {color: rgba(0,0,0,0.87);}
.mat-black-secondary-text-bg {background-color: rgba(0,0,0,0.54);}
.mat-black-secondary-text-text {color: rgba(0,0,0,0.54);}
.mat-black-icons-bg {background-color: rgba(0,0,0,0.54);}
.mat-black-icons-text {color: rgba(0,0,0,0.54);}
.mat-black-disabled-bg {background-color: rgba(0,0,0,0.26);}
.mat-black-disabled-text {color: rgba(0,0,0,0.26);}
.mat-black-hint-text-bg {background-color: rgba(0,0,0,0.26);}
.mat-black-hint-text-text {color: rgba(0,0,0,0.26);}
.mat-black-dividers-bg {background-color: rgba(0,0,0,0.12);}
.mat-black-dividers-text {color: rgba(0,0,0,0.12);}
.mat-white-bg {background-color: #ffffff;}
.mat-white-text {color: #ffffff;}
.mat-white-500-bg {background-color: #ffffff;}
.mat-white-500-text {color: #ffffff;}
.mat-white-text-bg {background-color: #ffffff;}
.mat-white-text-text {color: #ffffff;}
.mat-white-secondary-text-bg {background-color: rgba(255,255,255,0.7);}
.mat-white-secondary-text-text {color: rgba(255,255,255,0.7);}
.mat-white-icons-bg {background-color: #ffffff;}
.mat-white-icons-text {color: #ffffff;}
.mat-white-disabled-bg {background-color: rgba(255,255,255,0.3);}
.mat-white-disabled-text {color: rgba(255,255,255,0.3);}
.mat-white-hint-text-bg {background-color: rgba(255,255,255,0.3);}
.mat-white-hint-text-text {color: rgba(255,255,255,0.3);}
.mat-white-dividers-bg {background-color: rgba(255,255,255,0.12);}
.mat-white-dividers-text {color: rgba(255,255,255,0.12);}
